<div class="post-container">
<div class="heading-container">
<h1>About</h1>
<div class="under-heading">
</div>
</div>
<div class="post-body" style="margin-top:-20px">


<table class="image-right">
<tr><td>
<img class="post-image-right" src="me.jpg" alt="A picture from my trip to Alaska"  width="300" />
</td></tr>
</table>
<p>
My name is Stephen Sherratt and I'm a third year Computer Science student.
I like computers.
I like operating systems, programming languages, graphics, theoretical computing, games.
It's making it difficult to decide on a thesis topic, but it makes for some interesting demos.
</p>
<p>
I created stevebob.net in 2010 as a place to show off graphical demos.
The first such demo was <a href="http://stevebob.net/tesla">Tesla</a>.
Since then I've written many javascript demos, the vast majority of which
use HTML5 canvas do display graphics. 
</p>
</div>
</div>
