<div class="post-container">
<div class="heading-container">
<h1>About</h1>
<div class="under-heading">
</div>
</div>
<div class="post-body" style="margin-top:-20px">


<table class="image-right">
<tr><td>
<img class="post-image-right" src="me.jpg" alt="me on top of Tromsdalstinden"  width="400" />
</td></tr>
</table>
<div id="contact">
<table>
<tr><td><strong>Email:</strong></td><td><a href="mailto:stephen@sherra.tt">stephen@sherra.tt</a></td></tr>
<tr><td><strong>Mobile:</strong></td><td>0403 157 219</td></tr>
<tr><td><strong>Website:&nbsp;</strong></td><td><a href="http://sherra.tt">sherra.tt</a></td></tr>
<tr><td><strong>Github:</strong></td><td><a href="https://github.com/stevebob">github.com/stevebob</a></td></tr>
<tr><td><strong>Location:</strong></td><td>Sydney, Australia</td></tr>
</table>
</div>
<p style="margin-top:20px">
I'm a Sydney based software developer.
I graduated from UNSW in 2014 and currently work at a startup called Shodogg.
</p>
<p>
I write graphical HTML5 demos as a hobby and use this site to show them off.
I also enjoy traveling and use this site as a travel blog whenever I get the chance.
</p>

</div>
</div>
