<div class="post-container">
<div class="heading-container">
<h1>Apps</h1>
<div class="under-heading">
</div>
</div>
<div class="post-body" style="margin-top:-20px">

<% apps.each do |app| %>
<% if app.local then %>
<h2><a href="<%= app.url %>"><%= app.name %></a></h2>
<% else %>
<h2><a href="<%= app.url %>"><%= app.name %></a></h2>
<% end %>
<% end %>

</div>
</div>
