<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Stephen Sherratt</title>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
<style>

h1 {
  font-size:20pt;
  float:left;
  width:300px;
}

#all {
  margin:0px;
  padding-top:40px;
  padding-bottom:60px;
  margin-right:60px;
  margin-left:60px;
  padding-left:20px;
}
#header {
position:relative;
height:90px;
}

#sub {
  position:absolute;
  bottom:-10px;
  left:0px;
  height:40px;
  width:400px;
  font-size:12pt;
  font-style:italic;
//  border:2px solid red;
}

hr {
  margin-top:2px;
  margin-bottom:5px;
}

h2 {
  font-size:16pt;
  margin:0px;
}
h3 {
  font-size:12pt;
  margin:0px;
}
#contact {
margin-top:17px;
float:right;
}

#contents {
  padding-top:40px;
  text-align:justify
}
</style>
</head>
<body>
<div id="all">
<div id="header">

<h1>Stephen Sherratt</h1>
<div id="sub">
I'm a fourth year CompSci student at UNSW, working part time as a Research Assistant at NICTA.
</div>
<div id="contact">
<table>
<tr><td><strong>Email:</strong></td><td>sherro92@gmail.com</td></tr>
<tr><td><strong>Mobile:</strong></td><td>+61 403 152 219</td></tr>
<tr><td><strong>Website:</strong></td><td>stevebob.net</td></tr>
<tr><td><strong>Github:</strong></td><td>stevebob</td></tr>
</table>
</div>
</div>
<div id="contents">
<hr />
<%= `markdown StephenSherrattResume.markdown` %>
</div>
</div>
</body>
</html>

