<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Stephen Sherratt</title>
<style>
*{font-family: helvetica;text-align:justify;}
div {margin:0px;padding:0px}
#header {
  height:125px;
}


#name {
  height:100px;
  position:absolute;
  top:0px;
  left:0px;
}
h1#title {
  margin-top:20px;
  font-size: 36pt;
}

h1 {
  margin-top:-3px;
}

#sub {
  font-size:16pt;
  font-style:italic;
  position:absolute;
  top:91px;
  height:25px;
}

h2 {margin-top:0px;margin-bottom:0px}
h3 {margin-top:10px;margin-bottom:0px}
ul {margin-top:5px;margin-bottom:5px}
#contact {position:absolute;top:0px;right:0px}
.table {position:relative;display: table;border-bottom:none}
.table .row {position:relative;display: table-row}
.table .row .cell {position:relative;display: table-cell;height:25px;border:none;}
.table .row .cell.label {font-weight:bold}
</style>
</head>
<body>

<div id="header">
  
    <div id="name"><h1 id="title">Stephen Sherratt</h1></div>
    <div id="sub">
    I'm a UNSW graduate working as a developer at Shodogg.
    </div>

    <div class="table" id="contact">
      <div class="row">
        <div class="cell label" style="width:80px">Email:</div><div class="cell">stephen@sherra.tt</div>
      </div>
      <div class="row">
        <div class="cell label">Mobile:</div><div class="cell">0403 157 219</div>
      </div>
      <div class="row">
        <div class="cell label">Website:</div><div class="cell">sherra.tt</div>
      </div>
      <div class="row">
        <div class="cell label">Github:</div><div class="cell">github.com/stevebob</div>
      </div>
      <div class="row">
        <div class="cell label">Location:</div><div class="cell">Sydney, Australia</div>
      </div>

    </div>

</div>
<%= `markdown StephenSherrattResume.markdown` %>
</body>
</html>

