* {
    padding:0px;
    margin:0px;
    font-family:sans-serif;

}


body {
    padding-left:150px;
    padding-right:150px;
    padding-top:40px;
    min-width:200px;
    background-color:rgb(225,240,255);
}

div.section {
    position:relative;
    width:auto;
    height:auto;
    
    padding:10px;

    margin-top:20px;
    margin-bottom:20px;

    background-color:rgba(255, 255, 255, 0.6);

    font-size:16px;
}

div.codeblock {
    background-color:rgba(255, 255, 255, 8);
    font-family:monospace;
}

pre.code {
    font-family:monospace;
}
