<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Stephen Sherratt</title>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
<style>

#all {
  border-left:8px solid rgb(200, 200, 200);
  margin:0px;
  padding-top:60px;
  padding-bottom:60px;
  margin-right:60px;
  margin-left:160px;
  padding-left:20px;
}
#header {
}

#contact {
}

#contents {
  text-align:justify
}
</style>
</head>
<body>
<div id="all">
<div id="header">

<a href="StephenSherrattResume.pdf">Download PDF</a>
<h1>Stephen Sherratt</h1>
<div id="sub">
I'm a UNSW graduate working as a developer at Shodogg.
</div>
<hr />
<div id="contact">
<table>
<tr><td><strong>Email:</strong></td><td><a href="mailto:stephen@sherra.tt">stephen@sherra.tt</a></td></tr>
<tr><td><strong>Mobile:</strong></td><td>0403 157 219</td></tr>
<tr><td><strong>Website:&nbsp;</strong></td><td><a href="http://sherra.tt">sherra.tt</a></td></tr>
<tr><td><strong>Github:</strong></td><td><a href="https://github.com/stevebob">github.com/stevebob</a></td></tr>
<tr><td><strong>Location:</strong></td><td>Sydney, Australia</td></tr>
</table>
</div>
</div>
<div id="contents">
<hr />
<%= `markdown StephenSherrattResume.markdown` %>
</div>
</div>
</body>
</html>

