<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Stephen Sherratt</title>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
<style>

#all {
  border-left:8px solid rgb(200, 200, 200);
  margin:0px;
  padding-top:60px;
  padding-bottom:60px;
  margin-right:60px;
  margin-left:160px;
  padding-left:20px;
}
#header {
}

#contact {
}

#contents {
  text-align:justify
}
</style>
</head>
<body>
<div id="all">
<div id="header">

<h1>Stephen Sherratt</h1>
<div id="contact">
<table>
<tr><td><strong>Email:</strong></td><td><a href="mailto:sherro92@gmail.com">sherro92@gmail.com</a></td></tr>
<tr><td><strong>Mobile:</strong></td><td>+61 403 152 219</td></tr>
<tr><td><strong>Website:</strong></td><td><a href="https://stevebob.net">stevebob.net</a></td></tr>
<tr><td><strong>Github:</strong></td><td><a href="https://github.com/stevebob">stevebob</a></td></tr>
</table>
</div>
</div>
<div id="contents">
<hr />
<%= `markdown StephenSherrattResume.markdown` %>
</div>
</div>
</body>
</html>

