
div#header {
position:absolute;
left:10px;
width:auto;
top:0px;
height:auto;
text-align:left;
font-family:monospace;
font-size:20px;
background-color:rgba(255, 255, 255, 0.7);
padding:0px;
margin:0px;
margin-left:20px;
padding-left:20px;
padding-right:20px;
padding-bottom:10px;
}

canvas#screen {
    position:absolute;
    z-index:-1;
}

input {
    border: 0px solid black;
    height:1.5em;
}

input#pixels {
    background-color:rgba(255, 255, 255, 0.8);
}
